.productListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 90vh;
}

#productListHeading {
  font: 400 2rem var(--sm-font);
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}

.productListTable {
  background-color: white;
  border: none !important;
}

.productListTable div {
  font: 300 1vmax var(--sm-font);
  color: rgb(0, 0, 0);
  border: none !important;
}

.productListTable a,
.productListTable button {
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}

.productListTable a:hover {
  color: var(--pink);
}

.productListTable button:hover {
  color: var(--pink);
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .productListTable div {
    font: 300 2vw var(--sm-font);
  }
}
