/* .paymentForm .cardinfoHeading{
    margin-bottom: 5%;
} */

.paymentInput{
    outline: none;
    box-shadow: none;
    background-color: white !important;
}

.paymentInput:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--pink);
}

.icon{
    position: absolute;
    transform: translateX(1.7vmax);
    font-size: 1.6vmax;
    color: var(--pink);  
}
  