.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccess > svg {
  font-size: 7vmax;
  color: var(--pink);
}
.orderSuccess > p {
  font-size: 2vmax;
}
.orderSuccess > a {
  border: 1px solid transparent;
  border-radius: 60px;
  background-color: var(--pink);
  color: white;
  font: 300 0.9vmax;
  width: 20%;
  padding: 0.8vmax;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}
.orderSuccess > a:hover {
  background-color: rgb(255, 255, 255);
  color: var(--pink);
  border: 1px solid var(--pink);
}
@media screen and (max-width: 600px) {
  .orderSuccess > a {
    padding: 3vw 6vw;
    font: 400 4vw "Roboto";
    margin: 2vmax;
  }

  .orderSuccess > svg {
    font-size: 20vw;
  }
  .orderSuccess > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}
